{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block meta %}RAINBOWLOG{% endblock %}

{% block body %}

  <section class="home section" id="home">
    <div class="home__container container grid">
      <h1 class="home__name">RAINBOWLOG</h1>
      <div class="home__perfil">
        <div class="home__image">
          <img
            src="{{asset('/img/general/image12.png')}}" 
            alt="image 01 home"
            class="home__img"
          />
          <div class="home__shadow"></div>

          <img src="{{asset('img/logo_rainbow.png') }}"
            alt=""
            class="home__line"
          />

          <div class="geometric-box"></div>
        </div>

        <div class="home__social">
          <a
            href="https://instagram.com/"
            target="_blank"
            class="home__social-link"
            ><i class="ri-instagram-line"></i>
          </a>
          <a
            href="https://linkedin.com/"
            target="_blank"
            class="home__social-link"
            ><i class="ri-linkedin-box-line"></i>
          </a>
          <a
            href="https://github.com/"
            target="_blank"
            class="home__social-link"
            ><i class="ri-github-line"></i>
          </a>
        </div>
      </div>

      <div class="home__info">
       
        <br>
        <p class="home__description">
            * Share your unique <b>experience</b> <br>
            * Show your <b>photos</b> <br> 
            * Communicate with the <b>passionate people</b> <br>
            * Improve your <b>knowledge<b <br>
        </p>

        <a href="#about" class="home__scroll">
          <div class="home__scroll-box">
            <i class="ri-arrow-down-s-line"></i>
          </div>
          <span class="home__scroll-text">Scroll Down</span>
        </a>
      </div>
    </div>
  </section>

        <!-- ABOUT -->

  <section class="about section" id="about">
        <div class="about__container container grid">
              <h2 class="section__title-1"><span>About us</span></h2>
              <div class="about__perfil">
                <div class="about__image">
                  <img
                    {# src="{{asset('/img/general/image08.webp')}}" #}
                    src="{{asset('/img/general/about.jpg')}}"
                    alt="image"
                    class="about__img"
                  />
                  <div class="about__shadow"></div>
                  <div class="geometric-box"></div>
                  <img
                    src="{{asset('/img/logo_rainbow.png')}}"
                    alt=""
                    class="about__line"
                  />
                  <div class="about__box"></div>
                </div>
              </div>
              <div class="about__info">
                <p class="about__description">
                  Passionate about <b>photos</b> with
                  <b>spécial effects or without them</b>, Rainbowlog is the the comunity of all people liking to show and looking their works and learning the news about the photography together .
                </p>
    
                <ul class="about__list">
                  <li class="about__item">
                    <b>Our activities:</b> Gallery, Discussions, Meetings, Opinion's exchange.
                  </li>
                  <br>
                  <li class="about__item">
                    <b>For more details:</b> Write or phone us!
                  </li>
                </ul>
               
                {# <div class="about__buttons"> #}
                  {# <a href="{{ path('app_write_us')}}" class="button">
                    <i class="ri-send-plane-line"></i> Write Us
                  </a> #}

                  {# <a
                    href="{{ asset('img/logo_rainbow.png') }}"
                    target="_blank"
                    class="button__ghost"
                  >
                  </a> #}
                  <div id="contact-infos">
                    <address><span><i class="ri-mail-fill"></i></span> admin@rainbowlog.com</address>
                    <address><span><i class="ri-cellphone-fill"></i></span>+330301020304</address>
                    <address><span><i class="ri-map-pin-fill"></i></span>01 Photostreet 67100 Strasbourg</address>
                    <br>
                  </div>
                {# </div> #}
                <div class="geometric-box"></div>
              </div>
        </div>
  </section>


  <!-- ARTICLES-->

  <section class="articles section" id="articles">
      <h2 class="section__title-2">
            <span>Our articles</span>
      </h2>

      <div class="articles__container container grid">

            <article class="articles__card">
                <div class="articles__border"></div>
                <div class="articles__content">
                  <div class="articles__icon">
                    <div class="articles__box"></div>
                    {# <i class="ri-layout-4-line"></i> #}
                    <i class="ri-camera-3-line"></i>
                  </div>
                  <h2 class="articles__title">Do you know what is Photography ?</h2>
                  <p class="articles__description">
                    <br>
                    <b><em>Photography</em></b><small>  is the art, application, and practice of creating images by recording light, either electronically by means of an image sensor, or chemically by means of a light-sensitive material such as photographic film. <br>
                       It is employed in many fields of science, manufacturing (e.g., photolithography), and business, as well as its more direct uses for art, film and video production, recreational purposes, hobby, and mass communication </small>
                       <br>
                       <br>
                       From free Wikipedia ***
                  </p>
                  <div class="geometric-box"></div>
                </div>
            </article>

            <article class="articles__card">
                <div class="articles__border"></div>
                <div class="articles__content">
                  <div class="articles__icon">
                      <div class="articles__box"></div>
                      {# <i class="ri-code-box-line"></i> #}
                      <i class="ri-scales-3-fill"></i>
                  </div>
                  <h2 class="articles__title">Do you know the relations between the law and Photography ?</h2>

                  <p class="articles__description">
                   <b><em>Photography</em></b> <small> is both restricted and protected by the law in many jurisdictions. Protection of photographs is typically achieved through the granting of copyright or moral rights to the photographer. <br>
                    In the United States, photography is protected as a First Amendment right and anyone is free to photograph anything seen in public spaces as long as it is in plain view. <br>
                    In the UK, a recent law (Counter-Terrorism Act 2008) increases the power of the police to prevent people, even press photographers, from taking pictures in public places. <br>
                    In South Africa, any person may photograph any other person, without their permission, in public spaces and the only specific restriction placed on what may not be photographed by government is related to anything classed as national security. <br>
                    Each country has different laws. </small>  
                    <br>
                    <br>
                    From free Wikipedia ***
                  </p>
                  <br>
                  <br>
                  <div class="geometric-box"></div>
                </div>
            </article>

            <article class="articles__card">
              <div class="articles__border"></div>
              <div class="articles__content">
                <div class="articles__icon">
                    <div class="articles__box"></div>
                  
                     <i class="ri-book-open-fill"></i>
                </div>
                <h2 class="articles__title">Wise thoughts</h2>

                <p class="articles__description">
                  "In photography there is a reality so subtle that it becomes more real than reality."
                  <br>
                  <br>
                  <b>(Alfred Stieglitz - american photographer)</b>
                  <br>
                  <br>
                  <br>
                  "It is an illusion that photos are made with the camera… They are made with the eye, heart, and head."
                  <br>
                  <br>
                  <b>(Henri Cartier-Bresson - french photographer)</b>
                  <br>
                  <br>
                  <br>
                  "When words become unclear, I shall focus with photographs."
                  <br>
                  <br>
                  <b>(Ansel Adams - american photographer)</b>
                  <br>
                  <br>
                  <br>
                  "Photography has no rules, it is not a sport. It is the result which counts, no matter how it is achieved."
                  <br>
                  <br>
                  <b>(Bill Brandt - english photographer)</b>
                </p>
                <br>
                <div class="geometric-box"></div>
              </div>
          </article>

          <article class="articles__card">
            <div class="articles__border"></div>
            <div class="articles__content">
              <div class="articles__icon">
                  <div class="articles__box"></div>
                  {# <i class="ri-code-box-line"></i> #}
                  <i class="ri-book-3-fill"></i>
              </div>
              <h2 class="articles__title">The best books on photography in 2024</h2>

              <p class="articles__description">
                1. Read This if You Want to Take Good Photographs. 
                  <br>
                  <small><em>The best book on photography for beginners overall</em></small>
                  <br>
                  <b>Author: Henry Carroll</b>
                  <br>
                  <br>
                  <br>


                2. BetterPhoto Basics
                <br>
                <small><em>The friendliest book on photography for beginners</em></small>
                <br>
                <b>Author: Jim Miotke</b>
                <br>
                <br>
                <br>

                3. One Face, Fifty Ways
                <br>
                <small><em>Inspired ideas book for photography enthusiasts</em></small>
                <br>
                <b>Author: Mark Wilkinson and Imogen Dyer</b>
                <br>
                <br>
                <br>

                4. The Landscape Photography Workshop
                <br>
                <small><em>The best photography book on composition</em></small>
                <br>
                <b>Author: Michael Freeman</b>
                <br>
                <br>
                <br>

                5. The Photographer's Eye Remastered
                <br>
                <small><em>The ultimate guide to landscape photography</em></small>
                <br>
                <b>Author: Ross Hoddinott and Mark Bauer</b>
              </p>
              <br>
              <div class="geometric-box"></div>
            </div>
        </article>
           
      </div>
  </section>

{#  ACTIVITY #}

  <section class="activities section" id="activities">
        <h2 class="section__title-1">
          <span>Activities</span>
        </h2>

        <div class="activities__container container grid">

          <article class="activities__card">
            <div class="activities__image">
              <img src="{{asset('/img/action/discussion.webp')}}" alt=" " class="activities__img"></a>
                
              <br>
            </div>

            <div class="geometric-box"></div>

            <div class="activities__content">
              <h3 class="activities__subtitle">Every saturday from 20:00/GMT to 21:00/GMT</h3>
              <h2 class="activities__title">VideoDiscussion</h2>
              <p class="activities__description">
                We discuss the last photos of the week and give the advices for improving them !You'll find the reference for next week's discussion on our facebook
              </p>
            </div>


            <div class="activities__buttons">
              <a
                href="https://www.facebook.com/"
                target="_blank"
                class="activities__link"
              >
                <i class="ri-facebook-circle-line"></i> <b>Details</b>
              </a>
              
            </div>
        
          </article>

          <article class="activities__card">
            <div class="activities__image">
              <img src="{{asset('/img/action/schedule.webp')}}" alt=" " class="activities__img"></a>
            </div>

            <div class="geometric-box"></div>

            <div class="activities__content">
              <h3 class="activities__subtitle">Last saturday of every month from 19:00/GMT to 19/30/GMT </h3>
              <h2 class="activities__title">VideoMeeting</h2>
              <p class="activities__description">
                We elaborate the planning for next month and summerise results of our recent activity ! You'll find the reference for next meeting on our facebook
              </p>
            </div>

            <div class="activities__buttons">
               
              <a
                href="https://www.facebook.com/"
                target="_blank"
                class="activities__link"
              >
                <i class="ri-facebook-circle-line"></i> <b>Details</b>
              </a>
              
            </div>
          </article>


          <article class="activities__card">
            <div class="activities__image">
              <img src="{{asset('/img/action/competition.webp')}}" alt=" " class="activities__img"></a>
            </div>

            <div class="geometric-box"></div>

            <div class="activities__content">
              <h3 class="activities__subtitle">Last saturday of every month from 19:30/GMT to 20:00/GMT</h3>
              <h2 class="activities__title">Experience exchange</h2>
              <p class="activities__description">
                We analyse our experience and choose the best methods and trics of photo's making
              </p>
            </div>

            <div class="activities__buttons">
              
              <a
                href="https://www.facebook.com/"
                target="_blank"
                class="activities__link"
              >
                <i class="ri-facebook-circle-line"></i> <b>Details</b>
              </a>
            </div>
          </article> 
        </div>
  </section>

  {# SCRIPT #}
  
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script src="{{ asset('js/main.js') }}"></script>
  <script src="{{ asset('js/scrollreveal.min..js') }}"></script>

{% endblock %}