{% extends 'base.html.twig' %}

{% block title %}Sign up{% endblock %}

{% block body %}

    <section class="contact__section" id="contact">
        <div class="contact__container grid">
    
          <div class="contact__data">
            <h2 class="section__title-2"><span>SIGN UP >></span></h2>

            <p class="contact__description-1">
                Become a member of our community of the people passioned by Photography !
            </p>
            <p class="contact__description-2">
              We need your <b>Nickname</b> and <b>Email Address</b> only.
              Your password should be at least 12 characters,
              1 uppercase and 1 small letters, 1 digit and 1 special symbol. 
            </p>
          </div>

    
          <div class="contact__mail">
       
            {{ form_errors(registrationForm) }}
    
            {{ form_start(registrationForm) }}
             <div class="contact__box">
                 {{ form_row(registrationForm.email) }}
             <div></div>
             <div class="contact__box">  
                 {# on ajoute la ligne pour le champ "pseudo" #}
                 {{ form_row(registrationForm.pseudo) }}
             <div>    
             <div class="contact__box"> 
                 {{ form_row(registrationForm.plainPassword, {
                     label: 'Password'
                 }) }}
             {# <div>
                     <small style="color: aqua;">
                         Your password should be at least 12 characters,
                         1 uppercase and 1 small letters, 1 digit and 1 special symbol. 
                     </small>
             </div> #}
             <div class="contact__box">   
                 {{ form_row(registrationForm.agreeTerms) }}
             </div>
             <button type="submit" class="contact__button button">Submit</button>  
             {{ form_end(registrationForm) }}

          </div>
          
          
        </div>
    </section>
    

{% endblock %}
