{% extends 'base.html.twig' %}


{% block title %}Category's list{% endblock %}

{% block body %}
    {# Pour afficher les messages d'erreur/succès #}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <br><br><br><br><br>
    <h2 class="section__title-1"><span>Category's list</span></h2>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Modify</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
                <tr>
                    <td data-label="Category">{{ category.name }}</td> 
                    {% if is_granted('ROLE_ADMIN') %}   
                    <td data-label="Action">
                            <a href="{{ path('admin_category_modif', {'id': category.id}) }}" class="btn btn-warning">Modify</a>    
                    </td>
                    <td data-label="Action">
                        <form action="{{ path('admin_category_delete', {'id': category.id}) }}" method="post" class="d-inline">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}  
        </tbody>
    </table>
    <br>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin_category_add') }}" class="btn btn-primary">Add new category</a>
    {% else %}
        <p>You haven't any rights for this action </p>
    {% endif %}
    <br>
    <br>
{% endblock %}