{% extends 'base.html.twig' %}
{% block title %}List of experiences{% endblock %}

{% block body %}
<br><br><br><br>
<section class="project section" id="projects">
    <h2 class="section__title-2"><span>List of experiences filtered by the category</span></h2>
    <div>
        
    <div class="experiences">
        <h3>Found Experiences >> </h3>
        <br>
        {% for experience in experiences %}
            <div class="experience">
                <div class="photos">
                    {% if experience.photos|length > 0 %}
                    <img src="{{ asset(experience.photos[0].path) }}" alt="images of the experience">
                    {% else %}
                    <img src="{{ asset('img/absent_image.png') }}" alt="absent image">
                    {% endif %}
                </div>
                <div class="description">
                    <h2><a href="{{ path('show_experience', {'id': experience.id}) }}">{{ experience.title }}</a></h2>
                    <p><strong>Used devices  :</strong> {{ experience.devices }}</p>
                    <p><strong>Where :</strong> {{ experience.nearTown }}</p>
                    <p><strong>Description :</strong> {{ experience.description }}</p>
                    <p><strong>Published : </strong>{{ experience.dateCreation|date('Y:m:d')}}</p>
                </div>
                
            </div>
        {% else %}
            <p>There is not any experience</p>
        {% endfor %}
    </div>

    <br><br>
    <hr>
    <br>

    <div class="categories">
        <br>
        <h3>Choose other category >></h3>
        <br>
        {% for category in categories %}
            <div>
                <a href="{{ path('experiences_category', {'id': category.id}) }}">{{ category.name }}</a>
            </div>

        {% else %}
            <p>There is not any experience for this category</p>
        {% endfor %}
    </div>
    <div>
</div>
</section>
{% endblock %}