{% extends 'base.html.twig' %}

{% block title %}Gallery of experiences{% endblock %}
{% block meta %}RAINBOWLOG{% endblock %}

{% block body %}
<br><br><br><br>
<section class="project section" id="projects">
    <h2 class="section__title-2"><span>Gallery of experiences</span></h2>

    <div>
      <h3>Search experiences existing in our database by category >></h3> 
      <br>
      {% for category in categories %}
          <div>
              <a href="{{ path('experiences_category', {'id': category.id}) }}">{{ category.name }}</a>
          </div>
      {% endfor %}
    </div>

   
      <br><br>
      <hr>
      <br><br>

      {# --> Les derniers commentaires #}
      <div class="comments-section">
        <h3>Last Comments</h3>
        <br>
        <ul>
            {% for comment in lastsComments|slice(0, 5) %}
                <li class="comment-item">
                    <a href="{{ path('show_experience', {'id': comment.experience.id}) }}">
                        <strong>{{ comment.consumer.pseudo }}:</strong> {{ comment.text }}
                    </a>
                </li>
            {% endfor %}
        </ul>
      </div>
    </div>
    
    <br><br>
    <hr>
    <br><br>

    <h3>Search Experiences by their titles and places >></h3>
    <br><br>
    {{ form_start(ResearchForm, {'attr': {'class': 'form-inline recherche-for'}}) }}
        {{ form_widget(ResearchForm.title, {'attr': {'class': 'form-control recherche-experience', 'placeholder': ' Enter a title ...'}}) }}
        {{ form_widget(ResearchForm.nearTown, {'attr': {'class': 'form-control where', 'placeholder': ' Near a town...'}}) }}
        <button class="btn btn-valider recherche-btn" type="submit">Search</button>
    {{ form_end(ResearchForm) }}

    <br><br>
    <hr>
    <br><br>

    <h3>Discover all our Experiences >></h3>
    <br><br>
    {% for experience in experiences %}

        <div class="projects__container container grid">  
            <article class="projects__card">
                
                <div class="projects__image">
                    {% if experience.photos|length > 0 %}
                        <img src="{{ asset(experience.photos[0].path) }}" alt="images of the experience">
                    {% else %}
                        <img src="{{ asset('img/absent_image.png') }}" alt="absent image">
                    {% endif %}
                </div>
                
                <div class="projects__content">
                    <div class="projects__icon">
                      <div class="projects__box"></div>
                      <i class="fa fa-id-card" aria-hidden="true"></i>
                    </div>
                    <h2 class="projects__title">
                      <a href="{{ path('show_experience', {'id': experience.id}) }}">{{ experience.title }}</a>
                    </h2>

                    <div class="projects__description">
                        <br>
                        <p><i class="fa fa-compass" aria-hidden="true"></i><strong>Near a town :</strong> {{ experience.nearTown }}</p>
                        <br>
                        <p><i class="fa fa-sticky-note-o" aria-hidden="true"></i><strong>Published : </strong>{{ experience.dateCreation|date('Y:m:d')}}</p>
                        <br>
                        <p><i class="fa fa-object-group" aria-hidden="true"></i></i><strong>Devices :</strong> {{ experience.devices }}</p>
                        <br>
                        <p><i class="fa fa-info-circle"></i><strong>Description :</strong> {{ experience.description }}</p>
                        <br>
                        <p><i class="fa fa-eye"></i><strong>Number of views :</strong>
                            {% if experience.counterView > 0 %}
                                        {{ experience.counterView }}</p>
                            {% else %}
                                         No any view
                            {% endif %}
                        </p>
                        <br>
                        <div class="geometric-box"></div>
                    </div>

                </div>
               
                
            </div>
        </div>    

    {% else %}
        <p>No any experience found</p>
    {% endfor %}

<br><br>

{# -->Render KNP pagination controls #}
<div class="pagination">
    {{ knp_pagination_render(experiences) }}
</div>

</section> 


{% endblock %} 

