{% extends 'base.html.twig' %}

{% block body %}
<br><br><br><br><br>

{% if is_granted('ROLE_ADMIN')%}
    <h2 class="section__title-1"><span>User's catalog</span></h2>
<br>
    <table class="styled-table">
        <thead>
            <tr>
                <th>ID: </th>
                <th>Email: </th>
                <th>Nickname: </th>
                {# <th>Note: </th> #}
                <th>Evaluation: </th>
                <th>Status: </th>
            
            </tr>
            <hr>    
        </thead>
        <tbody>
            
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.pseudo }}</td>
                    {# <td>{{ user.rating }}</td> #}
                    <td><a href="{{ path('user_eval', {'id': user.id }) }}" class="btn btn-secondary">Evaluate</a></td>
                    <td>

                        {% if user.pseudo=="Anonyme"%} 
                            <b>Deleted already</b>
                        {% else %}

                          {% if user.isBlocked %}
                            <a href="{{ path('user_unblock', {'id': user.id}) }}" class="btn btn-warning">Unblock</a>
                            or
                            <a href="{{ path('user_delete', {'id': user.id}) }}" class="btn btn-dearth-danger">Delete</a>
                           
                          {% else %}
                     
                            <a href="{{ path('user_block', {'id': user.id}) }}" ></a>
                         
                            <a href="{{ path('user_block', {'id': user.id}) }}" class="btn btn-danger">Block</a>
                    
                          {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            
        </tbody>  
    </table>
    <hr> 
    <br>
       <a href="{{ path('admin_index') }}" class="btn btn-primary">Statistical Details >></a>
    <br>
    <br>

    <br>
{% else %}

    {% if is_granted('ROLE_USER')%}

        <h2 class="section__title-2"><span>MY PROFIL</span></h2>
        <h4>*********************</h4>
        <p><strong>Nickname: </strong>{{ app.user.pseudo }} {% if is_granted('ROLE_ADMIN') %}{% endif %}</p>
        <p><strong>Email : </strong>{{ app.user.email }}</p>
        {# <p><strong>My rating : </strong>{{ averageRating|number_format(1) }}</p> #}
        <br>
        <a href="{{ path('user_delete', {'id': app.user.id}) }}" class="btn btn-danger">Delete my account</a> 
        <br>
        <h4>*********************</h4>
        <br>
        <h4 style="text-align: center;">EVALUATE MEMBERS  OF RAINBOWLOG'S COMMUNITY >></h4>
        <br>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Nickname: </th>
                    <th>Rating: </th>
                </tr>
                <hr>    
            </thead>
            <tbody>
                
                {% for user in users %}
                    <tr>
                        <td>{{ user.pseudo }}</td>
                        <td><a href="{{ path('user_eval', {'id': user.id }) }}" class="btn btn-secondary">Evaluate</a></td>
                    </tr>
                {% endfor %}
                
            </tbody>  
        </table>

        <p style=color:red;>Thank you for your evaluation!</p>    
        <br>
    
    {% else %}  
        <p style=color:red;>Your account was deleted and your personal datas were anonymised. You can create another account if you want.</p>  
          <br>
          <br>
           <a href="{{ path('app_register') }}" class="nav__link">SIGN UP >></a>
           <br>

    {% endif %}


{% endif %}
    <br>  
{% endblock %}