{% extends 'base.html.twig' %}

{% block body %}
<br><br><br><br><br>

{% if is_granted('ROLE_ADMIN')%}
    <h3>User's catalog</h3>
<br>
    <table>
        <thead>
            <tr>
                <th>ID: </th>
                <th>Email: </th>
                <th>Nickname: </th>
                <th>Rating: </th>
                <th>Status: </th>
            
            </tr>
            <hr>    
        </thead>
        <tbody>
            
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.pseudo }}</td>
                    <td><a href="{{ path('user_eval', {'id': user.id }) }}" class="btn btn-secondary">Evaluate</a></td>
                    <td>
                        {% if user.isBlocked %}
                            <a href="{{ path('user_unblock', {'id': user.id}) }}" >Unblock</a>
                            <a href="{{ path('user_delete', {'id': user.id}) }}" >Hide</a>
                            {# {% if user.pseudo("Anonyme")%} 
                               <b>Deleted already</b>
                            {% else %}
                               <b>Not deleted</b>
                            {% endif %}  #}
             
                        {% else %}
                     
                            <a href="{{ path('user_block', {'id': user.id}) }}" ></a>
                         
                            <a href="{{ path('user_block', {'id': user.id}) }}" >Block</a>
                    
                        {% endif %}
                        
                    </td>
                </tr>
            {% endfor %}
            
        </tbody>  
    </table>
    <hr> 
    <br>
    <a href="{{ path('admin_index') }}" >Statistical Details >></a>
    <br>
    <br>

    <br>
{% else %}

    {% if is_granted('ROLE_USER')%}

        <h3>MY PROFIL</h3>
        <h4>*********************</h4>
        <p><strong>Nickname: </strong>{{ app.user.pseudo }} {% if is_granted('ROLE_ADMIN') %}{% endif %}</p>
        <p><strong>Email : </strong>{{ app.user.email }}</p>
        <br>
        <a href="{{ path('user_delete', {'id': app.user.id}) }}" class="btn btn-danger">Delete my account</a> 
        <br>
        <h4>*********************</h4>
        <br>
        <h4>EVALUATE MEMBERS  OF RAINBOWLOG'S COMMUNITY >></h4>
        <br>
        <table>
            <thead>
                <tr>
                    <th>Nickname: </th>
                    <th>Rating: </th>
                </tr>
                <hr>    
            </thead>
            <tbody>
                
                {% for user in users %}
                    <tr>
                        <td>{{ user.pseudo }}</td>
                        <td><a href="{{ path('user_eval', {'id': user.id }) }}" class="btn btn-secondary">Evaluate</a></td>
                    </tr>
                {% endfor %}
                
            </tbody>  
        </table>
         
    {% endif %}

        <h4>*********************</h4>
        <br>
        <p style=color:red;>Thank you!</p>    
        <br>
{% endif %}
    <br>  
{% endblock %}