{% extends 'base.html.twig' %}

{% block body %}
<br><br><br><br><br>
{% if is_granted('ROLE_ADMIN')%}
    <h3>User's catalog</h3>
<br>
    <table>
        <thead>
            <tr>
                <th>ID:</th>
                <th>Email:</th>
                <th>Nickname:</th>
                <th>Status:</th>
            
            </tr>
            <hr>    
        </thead>
        <tbody>
            
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.pseudo }}</td>
                    <td>
                        {% if user.isBlocked %}
                            <a href="{{ path('user_unblock', {'id': user.id}) }}" >Unblock</a>
                            <a href="{{ path('user_delete', {'id': user.id}) }}" >Hide</a>
                        {% else %}
                     
                            <a href="{{ path('user_block', {'id': user.id}) }}" ></a>
                         
                            <a href="{{ path('user_block', {'id': user.id}) }}" >Block</a>
                    
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            
        </tbody>  
    </table>
    <hr> 
    <br>
    <a href="{{ path('admin_index') }}" >Statistical Details >></a>
    <br>
    <br>
    {% else %}
       {% if is_granted('ROLE_USER')%}
       <h3>MY PROFIL</h3>
           
      
       {% else %}
            <a href="{{ path('app_login') }}" >LOG IN</a>
        {% endif %}
    {% endif %}

{% endblock %}