{% extends 'base.html.twig' %}

{% block title %}User's evaluation{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}

{% block body %}
<br><br><br><br><br>
    <div>
        {# <h1>Evaluate{{ user.pseudo }}</h1> #}
        <h1>Evaluate our members !</h1>
        <br>
        {{ form_start(form, { 'attr' : { 'class': 'block-form' } }) }}
                    {# <i class="fa fa-star star"></i> #}
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-submit">Submit</button>
        {{ form_end(form) }}
    </div>
    
{% endblock %}