{% extends 'base.html.twig' %}

{% block title %}User's evaluation{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endblock %}

{% block body %}
<br><br><br><br><br>
    <div>
        
        <h2 class="section__title-2"><span>Evaluate our members !</span></h2>
        {% for i in 1..5 %}
        <i class="fa fa-star star" data-value="{{ i }}"></i>
        {% endfor %}
        <br>
        {{ form_start(form, { 'attr' : { 'class': 'block-form' } }) }}
        <br>            
        {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Submit</button>
        {{ form_end(form) }}
        <br>
    </div>
    
{% endblock %}