{% extends 'base.html.twig' %}

{% block title %}Your account{% endblock %}
{% block meta %}Your account{% endblock %}
{% block index %}noindex{% endblock %}

{% block body %}

    <div>
        <h1>YOUR ACCOUNT</h1>
    </div>
    
    <section>


                <h2>{{ user }} </h2>
                <div id="avatar">

                    <div>
                        <picture>
                            {% if user.avatar %}
                            <img src="{{ asset('img/avatars/' ~ user.avatar) }}" alt="user's avatar">
                            {% else %}
                                <img src="{{ asset('img/avatars/anonyme.jpg') }}" alt="default avatar">
                            {% endif %}
                        </picture>
                    </div>

                    <div>
                        
                        <i id="upload-avatar-btn" class="ri-image-edit-line"></i>
                    </div>
                </div>

                
                {% set roles = user.getSimpleRoles %}
                {% set hasPhotographerRole = 'photographer' in user.getSimpleRoles %}

                <div id="roles">
                   {% if roles is not empty %}
                    {# loop for  admin   #}
                    {% for role in roles %}
                        {% if role != 'photographer' %}
                            <div>
                                {% if role == 'admin' %}
                                    <a href="{{ path('app_dashboard')}}"><i class="fa-solid fa-user-tie fa-xl"></i></a>
                                {% endif %}
                                
                                
                            </div>
                        {% endif %}
                    {% endfor %}

                    
                {% endif %}
                </div>

            </div>

            {# <div id="upload-avatar">
                <div id="form-avatar">
                    {{ form_start(form) }}
                    {{ form_errors(form)}}
                    {{ form_row(form.avatar) }} 
                    <div class="btn btn6">
                        {{ form_end(form) }}
                    </div>
                </div>
            </div> #}


            <div id="middle">
                <div id="left">
                    <p class="text-n2" id="infos">Info</p>
                    <div class="text-n3" id="info">
                        <p><span>Username :</span> {{user.pseudo}}</p>
                        <p><span>Email :</span> {{ user.email }}</p>
                        <p><span>Registration date :</span> {{ user.registrationDate|date("d.m.Y") }}</p>
                        <p><span>Member since :</span> {{ user.durationSinceRegistration}}</p>
                    </div>

                    <div id="actions" class="logo-profile">
                        <div>
                            <i id="edit-infos-btn" class="fa-regular fa-pen-to-square"></i>
                            <p>Edit informations</p>
                        </div>
                        <div>
                            <a href=" {{ path('editPassword_user',{'id': app.user.id }) }}"><i class="fa-solid fa-unlock-keyhole"></i></a>
                            <a href=" {{ path('editPassword_user',{'id': app.user.id }) }}"><p>Change password</p></a>
                            
                        </div>
                        <div>
                            <i id="delete-account-btn" class="fa-solid fa-x"></i>
                            <p>Delete account</p>
                        </div>
                        <div>
                            <a href=" {{ path('app_logout') }}"><i id="logout-btn" class="fa-solid fa-right-from-bracket"></i></a>
                            <p>Logout</p>
                        </div>
                    </div>

                </div>
            </div>

            <div id="bottom">
                <div id="content">
                    <div id="edit-form">
                        {{ form_start(formEditUser) }}
                        <div class="field">{{ form_row(formEditUser.username) }}</div>
                        <div class="field"> {{ form_row(formEditUser.email) }}</div>
                        <div class="field">{{ form_row(formEditUser.Validate) }}</div>
                        {{ form_end(formEditUser) }}
                    </div>

                    <div id="delete-account">
                        <p>Are you sure you want to delete your account? This action can't be undone.</p>
                        <div>
                            <div class="confirm">
                                <a href=" {{ path('delete_user', {'id': app.user.id }) }}"><i class=" icon-confirm fa-regular fa-circle-check"></i>
                                <p>Confirm</p></a>

                            </div>
                            <div class="cancel">
                                <a href="#"><i class=" icon-cancel fa-regular fa-circle-xmark"></i>
                                    <p>Cancel</p></a>
                                
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>


    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src= "{{ asset('js/gsap.min.js') }}"></script>

    <script></script>

{% endblock %}
